<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

 
<mapper namespace="RestAPIServer.mapper.VmMapper">

    <insert id="createVm" parameterType="RestAPIServer.entity.Vm">
        INSERT INTO vm(
            cpu,
            memory,
            description,
            status,
            create_date
        )
        VALUES(
            #{cpu},
            #{memory},
            #{description},
            "stopped",
            DATE_FORMAT(NOW(), "%Y-%m-%d")
        )
    </insert>

    <select id="getVm" parameterType="Integer" resultType="RestAPIServer.entity.Vm">
        SELECT
            mac_address,
            cpu,
            memory,
            description,
            status,
            create_date,
            delete_date
        FROM vm
        WHERE mac_address = ${macAddress}
    </select>

    <update id="updateVm" parameterType="RestAPIServer.entity.Vm">
        UPDATE vm
        
        <trim prefix="SET" suffixOverrides=",">
            <if test="cpu != null">
                cpu = #{cpu},
            </if>
            <if test="memory != null">
                memory = #{memory},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
        </trim>
        
        WHERE mac_address = ${macAddress}
    </update>

    <update id="deleteVm" parameterType="Integer">
        UPDATE vm
        SET
            status = "deleted",
            delete_date = NOW()
        WHERE mac_address = ${macAddress}
    </update>

    <update id="runVm" parameterType="Integer">
        UPDATE vm
        SET status = "running"
        WHERE mac_address = ${macAddress}
    </update>

    <update id="stopVm" parameterType="Integer">
        UPDATE vm
        SET status = "stopped"
        WHERE mac_address = ${macAddress}
    </update>

</mapper>